* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  background: #2b2f2e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: transparent;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

h1 {
  color: white;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 16px;
  margin-bottom: 15px;
}

button {
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  background: #7b2cff;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background: #5e1fd1;
}

#meaning {
  background: white;
  color: black;
  padding: 12px;
  border-radius: 6px;
  font-size: 14px;
}
